.nodemap a.node { /* Nodes of a nodemap */
  z-index:100; /* needed otherwise the canvas will cover the nodes */

  background: #5e69b2;
  text-decoration: none;
  border: 1px solid black;

  display: table;
  width: 100px;
	height: 100px;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.nodemap a.node>p {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
