.nodemap a.node { /* Nodes of a nodemap */
  z-index:100; /* needed otherwise the canvas will cover the nodes */

  background: #5e69b2;
  text-decoration: none;
  border: 1px solid black;

  display: table;
  width: 100px;
	height: 100px;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.nodemap a.node>p { /* Visualize text paragraphs centered in the nodes */
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.nodemap { /* The nodemap itself */
  /* Elements in this map are positioned as 'absolute', but everything is
     relative to this map area */
  position: relative;
  display: block;
  height: 100%;
  overflow: visible;
}
