.nodemap a.node { /* Nodes of a nodemap */
  background: red;
  border: 3px solid black;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index:100; /* needed otherwise the canvas will cover the nodes */
  padding:5px 10px;
  border-width:5px;
}
